/* GENERAL STYLING */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-repeat: no-repeat;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgb(68, 68, 68), rgb(38, 38, 38));
    color: white;
    font-family: NewTitle-Variable, "Avenir Next Condensed",'Radio Canada Big','Oswald','Kanit', sans-serif;
}









/* NAVIGATION BAR */
.nav-bar {
    background-color: rgb(20, 20, 20);
    color: white;

    font-size: 0.9rem;
    font-weight: bold;

    justify-content: left;

    height: 2.75rem;
    /* height: 3.5vw; */
    border-bottom: 0.5px solid white;  
    display: flex;  

    width:100%;
    position: fixed;
    opacity: 0.9;

    z-index: 3;
}

.nav-bar-element{
    padding-left: 1vh;
    padding-right: 1vh;
    line-height: 2.7rem;

    white-space: nowrap;
 
    font-size: 1.15vw;

    color: white;
}

.nav-bar-element:hover{
    background-color: white;
    color: black;
    text-decoration: wavy;
    transition-duration: 300ms;
}


@media (max-width: 800px) {

    .nav-bar-element{
        padding-left: 1vh;
        padding-right: 1vh;
        line-height: 2.7rem;
    
        white-space: nowrap;
     
        font-size: 10px;
        color: white;
    }
}



a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}





/* BACKGROUND ANIMATION */
.background-image-container{
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -1;
}

.background-image-container div{
    position: absolute;
    background-color: inherit;
    border: 0.25vh solid white;
    width: 3.5vw;
    height: 3.5vw;
}
 
.background-image-container div:nth-child(1){
    top: 0%;
    left: 10%;
    animation: animatebox 16s linear infinite;
}
 
.background-image-container div:nth-child(2){
    top: 12%;
    left: 80%;
    animation: animatebox 14s linear infinite;
}

.background-image-container div:nth-child(3){
    top: 90%;
    left: 5%;
    animation: animatebox 14s linear infinite;
}

.background-image-container div:nth-child(4){
    top: 74%;
    left: 95%;
    animation: animatebox 14s linear infinite;
}

.background-image-container div:nth-child(5){
    top: 61%;
    left: 43%;
    animation: animatebox 8s linear infinite;
}

 .background-image-container div:nth-child(6){
    top: 43%;
    left: 75%;
    animation: animatebox 9s linear infinite;
}
 
.background-image-container div:nth-child(7){
    top: 84%;
    left: 70%;
    animation: animatebox 12s linear infinite;
}
 
.background-image-container div:nth-child(8){
    top: 19%;
    left: 7%;
    animation: animatebox 13s linear infinite;
}
 
.background-image-container div:nth-child(9){
    top: 50%;
    left: 20%;
    animation: animatebox 7s linear infinite;
}
 
.background-image-container div:nth-child(10){
    top: 85%;
    left: 40%;
    animation: animatebox 8s linear infinite;
}

@keyframes animatebox{
    0%{
        transform: scale(0) translate(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(2) translateY(-90px) rotate(-180deg);
        opacity: 0;
    }  
}













/* LANDING PAGE */

#LANDINGPAGE{
    height: 100vh;
}


.info{
    text-align: center;
    height: 80vh;

    padding-top: 8rem;
    width:100%;
    white-space: nowrap;
}

.landing-page-name{
    font-size: 11vw;

    text-shadow: 
    0.1px 0.1px 5px rgb(217, 128, 255),

    0.3px 0.3px 8px rgb(216, 123, 255),
    0.6px 0.6px 11px rgb(194, 74, 246),
    0.9px 0.9px 14px rgb(187, 48, 247),

    1.2px 1.2px 17px rgb(179, 0, 255),
    1.5px 1.5px 20px rgb(107, 1, 255),

    1.5px 1.5px 25px rgb(0, 0, 0);
}

.landing-page-subtitles{
    text-align: center;
    font-size: 2rem;
    font-size: 3vw;

    text-shadow: 
    0.1px 0.1px 5px rgb(217, 128, 255),

    0.3px 0.3px 8px rgb(216, 123, 255),
    0.6px 0.6px 11px rgb(194, 74, 246),
    0.9px 0.9px 14px rgb(187, 48, 247),

    1.2px 1.2px 17px rgb(179, 0, 255),
    1.5px 1.5px 20px rgb(107, 1, 255),

    1.5px 1.5px 25px rgb(0, 0, 0);
}

.landing-page-greeting{
    text-align: center;
    font-size: 1.5vw;

    text-shadow: 
    0.1px 0.1px 5px rgb(217, 128, 255),

    0.3px 0.3px 8px rgb(216, 123, 255),
    0.6px 0.6px 11px rgb(194, 74, 246),
    0.9px 0.9px 14px rgb(187, 48, 247),

    1.2px 1.2px 17px rgb(179, 0, 255),
    1.5px 1.5px 20px rgb(107, 1, 255),

    1.5px 1.5px 25px rgb(0, 0, 0);
}




/* PAGE PROPERTIES */
.page{
    padding-top: 1vw;
    justify-content: center;
    position: relative;

    border: 1px solid black;

    width: 100%;
}

.page-title{
    text-align: center;
    font-size: 9vw;
    margin-top: 10px;
    margin-bottom: 2vw;
    white-space: nowrap; 


    color: rgba(255, 255, 255, 0.8);
    text-shadow: 
    0.1px 0.1px 5px rgb(217, 128, 255),

    0.3px 0.3px 8px rgb(216, 123, 255),
    0.6px 0.6px 11px rgb(194, 74, 246),
    0.9px 0.9px 14px rgb(187, 48, 247),

    1.2px 1.2px 17px rgb(179, 0, 255),
    1.5px 1.5px 20px rgb(107, 1, 255),

    1.5px 1.5px 25px rgb(0, 0, 0);
}






#ABOUTME{
    background-color: rgb(158, 38, 250);
    height: 100vh;
    /* background-color: white; */
}



.about-me-image{
    width: 30%;
    height: 35vw;
    object-fit: cover;


    object-position: left;
    background-image: red;
    border-radius: 15px;

}

@media (max-width: 400px) {
    #ABOUTME{
        height: 40vh;
    }
}

.about-text{


    background-color: white;
    height: 35vw;

    border: 2px solid rgb(158, 38, 250);
    border: none;

    border-radius: 1vw;

    /* color: white; */
    color:  rgb(158, 38, 250);


    width: 70%;

    text-align: center;
    justify-content: center;
    place-content: center;
}

.about-me-face-info-container{
    width: 90%;
    display: flex;
    margin: 0 auto;

    /* background-color: white; */
    border-radius: 1vw;

    gap: 1rem;
}

.about-text-title{
    font-size: 4vw;
}

.about-text-description{
    font-size: 1.6vw;

}

.about-file-links{
    margin: 0 auto;
    display: grid;
    width: 37vw;
}



.about-button{
    display: inline-block;
    border-radius: 2vw;

    font-size: 1.5vw;
    height: 4vw;
    width: 17vw;
    

    font-weight: bold;
    line-height: 3.8vw;
    margin: 0 auto;
}

.resume{
    background-color: rgb(158, 38, 250);
    color: white;
    border: 2px solid white;

    grid-column: 1/2;
}

.transcript{
    border: 2px solid rgb(158, 38, 250);
    background-color: white;
    color: rgb(158, 38, 250);
    grid-column: 2/3;
}

.resume:hover{
    color: rgb(158, 38, 250);
    background-color: white;
    border: 2px solid  rgb(158, 38, 250);
    transition-duration: 300ms;
}

.transcript:hover{
    background-color: whitesmoke;
}

.current-employer{
    text-decoration: underline;
}

.current-employer:hover{
    color: black;
    transition: 200ms;
}











/* COURSWORK PAGE */

#COURSEWORK{
    background-color: rgb(158, 38, 250);
    z-index: -2;
    height: auto;
}

.coursework-info{
    justify-content: center;
    align-items: center;
    text-align: center; 
    position: relative;
    z-index: 2;
}

ul{
    list-style-type: none;
}

#COURSEWORK{
    height: auto;
}

.courses-container{    
    color: white;
    background-color: inherit;

    margin: 0 auto;
    padding-top: 20px;

    display: grid;
    grid-template-columns: minmax(auto, 15vw) 1fr;
    grid-template-rows: repeat(12,1fr);
    
    row-gap: 2vw;
    column-gap: 4vw;

    width: 50%;
    height: 60%;
}

.year-name{
    justify-content: left;
    font-size: 2vw;
    grid-column: 1/2;
    text-align: right;
    font-style: normal;
    font-weight: bold;
}

.course-list-for-year{
    color: white;
    font-size: 2.5vw;
    grid-column: 2/3;
    font-weight: bold;
}






/* PROJECTS  */
#CODINGPROJECT{
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
}



.project-type-container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4vw 1vw;
}

.project-type-title{
    font-size: 4vw;
    text-shadow: 2px 2px 10px black;
    margin-bottom: 3vw;
    padding-left: 20px;
}

.project-card{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, .3);
    border: 1px solid rgb(158, 38, 250);
}

.project-card:hover{
    background-color: rgb(158, 38, 250);
    color: white;
    border-color: white;

    transition-duration: 600ms;
}

.project-card:hover .project-card-title{
    color: white;
}

.project-card:hover img{
    width: 0%;
    transition-duration: 600ms;
}

.project-card:hover .project-card-text{
    /* width: 100%; */

    width: 100%;
    padding-left: 2vw;
    padding-right: 1vw;
    background-color: rgba(0, 0, 0, 0.1) ;


    transition-duration: 600ms;
}

.project-card-image{
    width: 40%;
    height: 100%;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: white;

    object-fit: cover;
    object-position: bottom;
}

.project-card-text{
    width: 60%;
    padding-left: 2vw;
    padding-right: 1vw;
    background-color: rgba(0, 0, 0, 0.1) red;
}

.project-card-title{
    color: rgb(158, 38, 250);
    padding-top: 1vw;
    font-size: 2.5vw;
}

.project-card-description{
    line-height: 2vw;
    font-size: 1.6vw;
}

.project-skills{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

#first-card{
    grid-row: 1/2;
    grid-column: 1/5;
}

#first-project-skills{
    grid-row: 1/2;
    grid-column: 5/8;
}

#first-project-skills img{
    width: 25%;
}

#second-card{
    grid-row: 2/3;
    grid-column: 4/8;
}

#second-project-skills{
    grid-row: 2/3;
    grid-column: 1/4;
}

#second-project-skills img{
    width: 25%;
}

#third-card{
    grid-row: 3/4;
    grid-column: 1/5;
}

#third-project-skills{
    grid-row: 3/4;
    grid-column: 5/8;
}

#third-project-skills img{
    width: 25%;
}

.project-skills-used-header{
    font-size: 2vw;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2vw;
}

@media (max-width: 500px) {
    /* .project-type-container {
        width: 500px;
    } */
}



#CONTACTME{
    width: 100%;
    height: 30vw;

    background-color: rgb(158, 38, 250);
}

.contact-thank{
    width: 100%;
    text-align: center;
}

.contact-title{
    font-size: 7vw;

    text-shadow: 2px 4px 5px black;
}

.contact-thanks-text{
    font-size: 2.5vw;
}

.contact-links{
    text-align: center;
    justify-content: center;

    display: flex;
    gap: 2vw
}


.icons{
    width: 4vw;
    height: 4vw;
    filter: brightness(0) invert(1);
}